<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Venda</title>
</head>
<body>
    <h1>Cadastrar Venda</h1>
    <form action="#" th:action="@{/vendas/salvar}" th:object="${venda}" method="post">
        <label for="idPedido">ID do Pedido:</label>
        <input type="number" th:field="*{idPedido}" placeholder="ID do Pedido" required/><br/>

        <label for="idProduto">ID do Produto:</label>
        <input type="number" th:field="*{idProduto}" placeholder="ID do Produto" required/><br/>

        <label for="quantidade">Quantidade:</label>
        <input type="number" th:field="*{quantidade}" placeholder="Quantidade" required/><br/>

        <label for="precoTotal">Preço Total:</label>
        <input type="number" th:field="*{precoTotal}" placeholder="Preço Total" required/><br/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
